.container {
			text-align:center;
		}
		
.password {
			text-align:center;
			font-size:3rem;
			margin-bottom:25px;
			color:#40B3DF;
			font-family:verdana;
			background-color:#eee;
			display:inline-block;
			padding:15px;
			font-weight:800;
		}
			

.description {
			text-align:center;
			font-size:2rem;
			margin-bottom:25px;
			color:#40B3DF;
			font-family:verdana;
			background-color:#eee;
			display:inline-block;
			padding:5px;
			font-weight:900;
		}
			
.details {
			margin-top:25px;
		}
